<p>product works!</p>
<table class="table table-striped table-responsive-md btn-table">
    <thead>
         <!-- if  products is empty-->
         <!-- if  products is empty header wil not print-->
        <tr *ngIf="products.length > 0">
        <th>ID</th>
        <th>NAME</th>
        <th>BRAND<th>
        <th>PRICE</th>
    </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of products">
            <td>{{product.id}}</td>
            <td>{{product.name}}</td>
            <td>{{product.brand}}</td>
            <td>{{product.price}}</td>
        </tr>

    </tbody>
</table>